a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 145, 0);
    text-decoration: none;
}

a:active {
    color: rgb(255, 145, 0);
    text-decoration: none;
}

button {
    color: white;
    background-color: black;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    left: 25%;
    height: auto;
    width: 50%;
}

.mainmatter {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: auto;
    background-color: rgb(15,15,15);
}


select {
    color: white;
    background-color: black;
    border-color: red;
    border-radius: 5px;
    
}

html {
    background-color: black;
}