.guestbook-text {
    all:unset;
    min-width: 50%;
    min-height: 200px;
    text-align: left;
    background-color: #222222;
    border: 1px solid #ff5500;
    border-radius: 5px;
    padding: 5px;
    display: inline;
}

.guestbook-text:focus {
    background-color: #262626;
}

.guestbook-name {
    all:unset;
    text-align:left;
    background-color: #222222;
    border: 1px solid #ff5500;
    border-radius: 5px;
    min-height: 24px;
    padding: 5px;
    display: inline;
}
.guestbook-name:focus {
    background-color: #262626;
}

.guestbook-entry-name {
    display: inline;
}

.guestbook-entry-time {
    display: inline;
    color: #ff5500;
}

.guestbook-entry {
    background-color: #222222;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}